APP_NAME="KKYF Membership Portal v2"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/kkyf-tams-1/public
BASE_PATH=/kkyf-tams-1/public
LOG_PATH=storage/logs/app.log
SESSION_NAME=KKYF_V2_SESSION

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=kkyf_tams_v2_dev
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4
